@import "tailwindcss";

.container{width: 90%; margin: auto;}


body {
  font-family: "Roboto", sans-serif;
}



@theme {
  --color-primary: #ff5252;
  /* --color-primary: #ff5252; */
}

.MuiBadge-badge{
  background-color: #ff5252 !important;
}


/* App.css */
.MuiButtonBase-root .MuiTouchRipple-rippleVisible {
  color: #ff5252;
}



.parent:hover .parent-hover\:block {
  display: block;
}