@import "tailwindcss";

.container{width: 95%; margin: auto;}


body {
  font-family: "Roboto", sans-serif;
}



@theme {
  --color-primary: #ff5252;
  --color-secondary: #f5f0f0;
  /* --color-primary: #ff5252; */
}

.MuiBadge-badge{
  background-color: #ff5252 !important;
}


/* App.css */
.MuiButtonBase-root .MuiTouchRipple-rippleVisible {
  color: #ff5252;
}



.parent:hover .parent-hover\:block {
  display: block;
}




/* Wrapper padding to show 5% previews */
.slider-container .swiper-wrapper {
  padding-left: 3%;
  padding-right: 3%;
}

/* Default slide small */
.custom-swiper .custom-slide {
  width: 90% !important;  /* main slide width 90% */
  transition: all 1s ease;
  opacity: 0.6;
  transform: scale(0.9);
}

/* Active slide centered & bigger */
.custom-swiper .custom-slide.swiper-slide-active {
  width: 90% !important;
  opacity: 1;
  transform: scale(1);
}

/* Nav buttons */
.custom-swiper-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
  background: #fff;
  color: #000;
  padding: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.custom-swiper-prev {
  left: 7%;
}

.custom-swiper-next {
  right: 7%;
}

/* Hide default swiper nav */
.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  display: none;
}



.MuiTabs-indicator{
  background-color: #ff5252 !important ;
}
.MuiTab-textColorPrimary.Mui-selected {
  color : #ff5252 !important ;
}

/* MuiRating-root  Mui-disabled css-1xc33vf-MuiRating-root */
.ss-1xc33vf-MuiRating-root{
  color: #FAAF00 !important;
}




.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked {
  color: #ff5252 !important; 
}

.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root {
  color: #374151 !important; 
}

.css-1xcmt9q-MuiSlider-thumb{
  background-color: #ff5252 !important; 
}
.css-xvk2i-MuiSlider-track{
  border-color: #ff5252 !important; 
}
.css-13vpke-MuiSlider-root{
  color:  #ff5252 !important; 
}




.scrollbar-always::-webkit-scrollbar {
  width: 4px; 
}

.scrollbar-always::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.scrollbar-always::-webkit-scrollbar-thumb {
  background: #ff5252; 
}

.scrollbar-always::-webkit-scrollbar-thumb:hover {
  background: #555;
}
